{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
{% include 'nav.html' %}
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card my-2">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="card-title mb-0">{{ post.title }}</h1>
                <span class="badge bg-secondary">{{ post.category }}</span>
            </div>
        </div>
        <div class="card-body">
            <img style="height: 230px; margin-bottom: 15px; "
                src="{{ url_for('static', filename='images/page_2.png') }}">
            <h6 class="card-subtitle mb-3 text-muted">
                By {{ post.author }} | Published: {{ post.publish_date }}
            </h6>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('posts.get_posts') }}" class="btn btn-outline-primary">Back to Posts</a>
        </div>
    </div>
</div>
{% endblock %}